


    <%= form_for @current_user, :html => {:class => 'form-signin'} do |f|%>
      <h2 class="text-center">Edit Profile</h2>
      <div class="form-group">
      <%= f.label :email, "Email: " %>
      <%= f.email_field :email, :required => true, :placeholder=>'email', :class=>"form-control" %>
      </div>

      <div class="form-group">
      <%= f.label :email, "User name: " %>
      <%= f.text_field :fullname, :required=>true, :placeholder=>'user name', :class=>"form-control" %>
      </div>

      <div class="form-group">
      <%= f.submit 'Submit', :class=>"btn btn-primary btn-block" %>
      </div>
      <p>Reset Password: <%= link_to 'Reset here', login_path %></p>

    <% end %>





<style>

  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

</style>
