
<div class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
<h1>Start a new route</h1>

<%= form_for @route do |f| %>
  <%= f.label :start %>
  <%= f.text_field :start %>

  <%= f.label :end %>
  <%= f.text_field :end %>

  <%= f.label :capacity %>
  <%= f.text_field :capacity %>

  <%= f.submit %>
<% end %>
</div>
</div>
</div>
