<h1><%= @route.start %> -- <%= @route.end %></h1>

<p><strong>Driver: </strong><%= @route.user.email %></p>
<p><strong>From: </strong><%= @route.start %></p>
<p><strong>Destination: </strong><%= @route.end %></p>
<p><strong>Passenger No.: </strong><%= @route.capacity %></p>
<p><strong>Vacancy: </strong><%= @route.capacity - @route.passengers.length %></p>
<p><strong>Passengers: </strong>
  <% @route.passengers.each do |p| %>
  <% user = User.find p %>
  <%= link_to user.email, user_path(user.id) %>
  <% end %>
</p>

<div class="controls">
  <% if (@current_user.present? && @current_user.id != @route.user.id && @route.capacity - @route.passengers.length > 0 && @route.passengers.index(@current_user.id.to_s) == nil ) %>
    <%= link_to 'Join', join_route_path %>
  <% end %>

  <% if (@current_user.present? && @current_user.id != @route.user.id && @route.passengers.index(@current_user.id.to_s) != nil ) %>
    <%= link_to 'Cancel trip', cancel_route_path %>
  <% end %>

  <% if (@current_user.present? && @current_user.id == @route.user.id) %>
  <%= link_to 'Edit', edit_route_path %>
  <%= link_to 'Delete', route_path, :method=>'delete' %>
  <% end %>

  <% unless @current_user.present? %>
  <%= link_to 'Sign in to ride', new_user_path %>
  <% end %>


</div>

<div>

  <%= render 'bookings/form' %>

</div>
